<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mhrs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".randevuIptal"></activity>
        <activity android:name=".favListele" />
        <activity android:name=".favEkle" />
        <activity android:name=".randevuGecmisi" />
        <activity android:name=".HastaneSil" />
        <activity android:name=".randevu_doktor" />
        <activity android:name=".randevu_al" />
        <activity android:name=".kullanici_profili" />
        <activity android:name=".doktor_anasayfa" />
        <activity android:name=".doktor_sil" />
        <activity android:name=".doktor_duzenle" />
        <activity android:name=".bolum_duzenle" />
        <activity android:name=".bolum_sil" />
        <activity android:name=".hastanne_duzenle" />
        <activity android:name=".doktor_ekle" />
        <activity android:name=".bolum_ekle" />
        <activity android:name=".hastane_ekle" />
        <activity android:name=".admin_anasayfa" />
        <activity android:name=".KayitActivity" />
        <activity android:name=".AnasayfaActivity" />
        <activity android:name=".GirisActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>